<footer class="footer">
    <h3>Flex Fitness</h3>
    <ul class="footer-address">
      <li>Address: Stockholm</li>
      <li>Phone: 0867842847</li>
      <li>Email: info@flexfitness.se</li>
      <li>&copy; 2025 Flex Fitness - All Rights Reserved | <a href="https://www.flexfitnessgym.co.nz/privacy-policy#:~:text=Use%20of%20your%20information,the%20primary%20purpose%20of%20collection.">Privacy Policy</a></li>
    </ul>
    <div class="social-links">
      <a href="https://www.facebook.com/FlexSverige/?locale=sv_SE"><img src="/images/facebook-logo.png" alt="Facebook Logo"></a>
      <a href="https://www.instagram.com/flexsverige/"><img src="/images/instagram-logo.png" alt="Instagram Logo"></a>
      <a href="https://x.com/account/access"><img src="/images/twitter-logo.png" alt="Twitter Logo"></a>
    </div>
  </footer>