<nav>
    <div class="navigation-container">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/gym">Gym</a>
        <a class="nav-link" href="/facility" >Facility</a>
        <a class="nav-link" href="/book">Book here</a>
    </div>
</nav>